@media screen and (max-height: 1100px) {
    .warning {
        margin: 30px auto 0 auto;
    }
}

@media screen and (max-height: 900px) {
    .about__img {
        width: 315px;
    }

    .sl__title {
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #000000;
        margin: 0 0 40px 0;
    }

    .slick-dots {
        bottom: 100px !important;
    }

    .work__title {
        font-size: 17px;
        line-height: 20px;
        color: #0D4E83;
        margin: 20px 20px 0 46px;
    }

    .work__img img {
        width: 260px;
    }

    .work__wrap {
        width: 610px;
    }

    .block__img {
        width: 700px;
        margin: 0 auto;
    }

    .last__wrap {
        display: flex;
        width: 590px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .work__title.title {
        margin: 30px 0 0 52px;
    }
}



@media screen and (max-width: 1366px) {
    .last__title2 {
        position: absolute;
        font-size: 24px;
        line-height: 24px;
        color: #0D4E83;
        top: 0;
        right: -261px;
        width: 240px;
    }
}




@media screen and (max-width: 1200px) {

    .work__title_mb {
        display: block;
    }

    .last__title {
        display: none;
    }

    .last__title2 {
        display: none;
    }

    .last__title_mb .last__title {
        display: block;
        position: relative;
        left: unset;
        margin: 17px 0 0 0;
    }

    .last__title_mb .last__title2 {
        display: block;
        position: relative;
        left: unset;
        right: unset;
        margin: 10px 0 0 0;
        width: 100%;
    }

    .warning {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        color: #D30340;
        padding: 0 0 0 0px;
        width: 100%;
        margin: 15px auto 0 auto;
        background: none;
    }

    .warning br {
        display: none;
    }

    .about__wrap {
        display: block;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .about__title {
        font-size: 24px;
        line-height: 30px;
        color: #0D4E83;
        margin: 0 0 0 0px;
    }
    .about__img {
        text-align: center;
        width: 210px;
        margin: 0 0 16px 0;
    }

    .about__img img {
        
    }
    
    .work__title {
        display: none;
    }

    .work__wrap {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .work__title_mb .work__title {
        font-size: 24px !important;
        display: block;
        text-align: center;
    }
    .work__title {
      
       
        color: #0D4E83;
        margin: 20px 20px 0 0px;
    }

    .work__img img {
        width: auto;
    }

    .work__title br {
        display: none;
    }

    .block__img {
        width: 100%;
    }


}

/* ÑÑ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ sm-ÑƒÑÑ‚Ñ€Ð¾Ð¹ÑÑ‚Ð² */
@media screen and (max-width: 992px) {

  .last__wrap {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.logo__wrap a {
    width: 130px;
    display: inline-block;
    margin: 0 0 16px 0;
}

.logo__wrap {
    text-align: center;
    margin: 0px 0 0 0;
    padding: 10px 0 0 0;
}


}

/* Ipad mini*/ 
@media screen and (max-width: 640px) {

    .sl__title {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: #000000;
        margin: 0 0 18px 0;
        font-weight: bold;
    }
    
    .about__title {
        font-size: 15px;
        line-height: 25px;
        color: #0D4E83;
        margin: 0 0 0 0px;
    }

    .last__title_mb .last__title {
        font-size: 16px !important;
    }

    .last__title_mb .last__title2 {
        font-size: 16px !important;
    }

    .work__title_mb .work__title {
        font-size: 16px !important;
        display: block;
        margin: 14px 0px 0 0px;
        text-align: left;
    }

    .work__wrap {
        margin: 0 -5px;
    }

    .work__block {
        margin: 0 5px;
        width: 50%;
    }

    .slick-dots {
        position: absolute !important;
        display: block;
        width: 100% !important;
        padding: 0;
        margin: 10px 0 30px 0 !important;
        list-style: none;
        text-align: center !important;
        bottom: 80px !important;
    }

    .js-modal.is-open .modal__inner {
        overflow: unset;
        padding: 0 15px 0px 15px;
    }

    .last__block {
        position: relative;
        margin: 0 5px 0 0;
    }

    .last__block2 {
        position: relative;
        margin: 0 0 0 5px;
    }

    .modal {
        position: fixed;
        top: 0px;
        z-index: 9999;
        height: 100vh;
        width: 100%;
    }

    .about__img  {
        width: 100%;
    }

    .about__img img {
        display: none;
    }

    .work__img img {
        display: none;
    }

    .img__mobile {
        display: block !important;
        margin: 0 0 20px 0;
    }

    .work__img img {
        width: 100%;
        margin: 0 0 20px;
    }

    
}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {
    .work__img img {
        width: 100%;
        margin: 0 0 0px;
        height: 310px;
    }

    .about__img img {
        width: 243px !important;
    }

    
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 380px) {
    .warning {
        font-size: 12px;
        line-height: 15px;
        text-align: left;
        color: #D30340;
        padding: 0 0 0 0px;
        width: 100%;
        margin: 11px auto 0 auto;
        background: none;
    }

    .warning {
        font-size: 12px;
        line-height: 17px;
        text-align: left;
        color: #D30340;
        padding: 0 0 0 0px;
        width: 100%;
        margin: 15px auto 0 auto;
        background: none;
    }

    .about__title {
        font-size: 13px;
        line-height: 24px;
        color: #0D4E83;
        margin: 0 0 0 0px;
    }

    .last__title_mb .last__title2 {
        font-size: 13px !important;
        line-height: 21px;
    }

    .last__title_mb .last__title {
        font-size: 13px !important;
        margin: 13px 0 0 0;
    }

    .work__title_mb .work__title {
        font-size: 13px !important;
        display: block;
        margin: 14px 0px 0 0px;
        text-align: left;
        line-height: 18px;
    }
}

