@media screen and (max-height: 1100px) {
    .warning {
        margin: 16px auto 0 auto;
        font-size: 19px;
        line-height: 27px;
    }
}

@media screen and (max-height: 900px) {
    .sl__title {
        font-size: 29px;
        line-height: 35px;
        text-align: center;
        color: #000000;
        margin: 0 0 40px 0;
    }


    .last__title2 {
        position: absolute;
        font-size: 21px;
        line-height: 28px;
        color: #0D4E83;
        top: 0;
        right: -301px;
        width: 290px;
    }

    .last__title {
        position: absolute;
        font-size: 21px;
        line-height: 30px;
        color: #0D4E83;
        top: 0;
        left: -180px;
    }

    .about__title {
        font-size: 22px;
        line-height: 28px;
        color: #0D4E83;
        margin: 0 0 0 79px;
    }

    .modal-border {
        position: relative;
        margin: 0px 0 0 0;
        height: 100%;
        max-width: 100%;
        padding: 20px 40px 0px 40px;
        background: #fff;
    }

    
    .about__img {
        width: 274px;
    }

    .sl__title {
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #000000;
        margin: 0 0 25px 0;
    }

    .slick-dots {
        bottom: 93px !important;
    }

    .work__title {
        font-size: 17px;
        line-height: 20px;
        color: #0D4E83;
        margin: 20px 20px 0 41px;
    }

    .work__img img {
        width: 232px;
    }

    .work__wrap {
        width: 610px;
    }

    .block__img {
        width: 550px;
        margin: 0 auto;
    }

    .last__wrap {
        display: flex;
        width: 590px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .work__title.title {
        margin: 17px 0 0 47px;
    }
}



@media screen and (max-width: 1366px) {
    .last__title2 {
        position: absolute;
        font-size: 24px;
        line-height: 24px;
        color: #0D4E83;
        top: 0;
        right: -261px;
        width: 240px;
    }
}




@media screen and (max-width: 1200px) {

    .work__title_mb {
        display: block;
    }

    .last__title {
        display: none;
    }

    .last__title2 {
        display: none;
    }

    .last__title_mb .last__title {
        display: block;
        position: relative;
        left: unset;
        margin: 17px 0 0 0;
    }

    .last__title_mb .last__title2 {
        display: block;
        position: relative;
        left: unset;
        right: unset;
        margin: 5px 0 0 0;
        width: 100%;
    }

    .warning {
        font-size: 13px;
        line-height: 20px;
        text-align: left;
        color: #D30340;
        padding: 0 0 0 0px;
        width: 100%;
        margin: 15px auto 0 auto;
        background: none;
    }

    .warning br {
        display: none;
    }

    .about__wrap {
        display: block;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .about__title {
        font-size: 24px;
        line-height: 30px;
        color: #0D4E83;
        margin: 0 0 0 0px;
    }
    .about__img {
        text-align: center;
        width: 210px;
        margin: 0 0 16px 0;
    }

    .about__img img {
        
    }
    
    .work__title {
        display: none;
    }

    .work__wrap {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .work__title_mb .work__title {
        font-size: 24px !important;
        display: block;
        text-align: center;
    }
    .work__title {
      
       
        color: #0D4E83;
        margin: 20px 20px 0 0px;
    }

    .work__img img {
        width: auto;
    }

    .work__title br {
        display: none;
    }

    .block__img {
        width: 100%;
    }


}

/* ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸ ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â´ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â sm-ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â² */
@media screen and (max-width: 992px) {

  .last__wrap {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.logo__wrap a {
    width: 130px;
    display: inline-block;
    margin: 0 0 6px 0;
}

.logo__wrap {
    text-align: center;
    margin: 0px 0 0 0;
    padding: 10px 0 0 0;
}
.btn__waiting button {
    width: 250px;
    margin: -70px auto 0px auto;
    background: #fff;
    display: block;
    padding: 9px 0 8px 0;
    border-radius: 9px;
    font-size: 16px;
}

}

/* Ipad mini*/ 
@media screen and (max-width: 640px) {
    .modal {
        position: fixed;
        top: 0px;
        z-index: 9999;
        height: 100vh;
        width: 100%;
        background: #006299;
        padding: 17px 20px 70px 20px;
    }
    .sl__title {
        font-size: 19px;
        line-height: 25px;
        text-align: center;
        color: #000000;
        margin: 0 0 18px 0;
        font-weight: bold;
    }
    
    .about__title {
        font-size: 14px;
        line-height: 21px;
        color: #0D4E83;
        margin: 0 0 0 0px;
    }

    .last__title_mb .last__title {
        font-size: 16px !important;
    }

    .last__title_mb .last__title2 {
        font-size: 15px !important;
        line-height: 16px;
    }

    .work__title_mb .work__title {
        font-size: 16px !important;
        display: block;
        margin: 14px 0px 0 0px;
        text-align: left;
    }

    .work__wrap {
        margin: 0 -5px;
    }

    .work__block {
        margin: 0 5px;
        width: 50%;
    }

    .slick-dots {
        position: absolute !important;
        display: block;
        width: 100% !important;
        padding: 0;
        margin: 10px 0 30px 0 !important;
        list-style: none;
        text-align: center !important;
        bottom: 70px !important;
    }

    .js-modal.is-open .modal__inner {
        overflow: unset;
        padding: 0 20px 0px 22px;
    }

    .last__block {
        position: relative;
        margin: 0 5px 0 0;
    }

    .last__block2 {
        position: relative;
        margin: 0 0 0 5px;
    }

    .modal {
        position: fixed;
        top: 0px;
        z-index: 9999;
        height: 100vh;
        width: 100%;
    }

    .about__img  {
        width: 100%;
    }

    .about__img img {
        display: none;
    }

    .work__img img {
        display: none;
    }

    .img__mobile {
        display: block !important;
        margin: 0 0 20px 0;
    }

    .work__img img {
        width: 100%;
        margin: 0 0 20px;
    }

    
}

/* Galaxy S8+*/ 
@media screen and (max-width: 540px) {

    .btn__waiting button {
        width: 250px;
        margin: -87px auto 0px auto;
        background: #fff;
        display: block;
        padding: 9px 0 8px 0;
        border-radius: 9px;
        font-size: 16px;
    }

    
    .work__img img {
        width: 100%;
        margin: 0 0 0px;
        height: 270px;
    }

    .about__img img {
        width: 243px !important;
    }

    
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 380px) {
    .warning {
        font-size: 12px;
        line-height: 15px;
        text-align: left;
        color: #D30340;
        padding: 0 0 0 0px;
        width: 100%;
        margin: 11px auto 0 auto;
        background: none;
    }

    .warning {
        font-size: 11px;
        line-height: 15px;
        text-align: left;
        color: #D30340;
        padding: 0 0 0 0px;
        width: 100%;
        margin: 15px auto 0 auto;
        background: none;
    }

    .about__title {
        font-size: 13px;
        line-height: 15px;
        color: #0D4E83;
        margin: 0 0 0 0px;
    }

    .last__title_mb .last__title2 {
        font-size: 12px !important;
        line-height: 13px;
    }

    .last__title_mb .last__title {
        font-size: 13px !important;
        margin: 13px 0 0 0;
    }

    .work__title_mb .work__title {
        font-size: 13px !important;
        display: block;
        margin: 14px 0px 0 0px;
        text-align: left;
        line-height: 18px;
    }
}

